vlan internal allocation policy ascending range 4000 4090
logging console informational
logging synchronous level all
service routing protocols model multi-agent
!
hostname {{ inventory_hostname }}
!
spanning-tree mode mstp
!
no aaa root
!
{% for interface_name, interface_values in interfaces.items() %}
interface {{ interface_name }}
   no switchport
   ip address {{ interface_values.ipv4 }}
   ip ospf network point-to-point
   ip ospf area 0.0.0.0
{% endfor %}
!
interface Loopback0
   ip address {{ router_id }}/32
   ip ospf area 0.0.0.0
!
interface Loopback1
   ip address {{ mlag_id }}/32
   ip ospf area 0.0.0.0
!
interface Management1
   ip address dhcp
   no lldp receive
!
ip routing
!
interface Vxlan1
   vxlan source-interface Loopback1
   vxlan udp-port 4789
!
ip virtual-router mac-address 00:11:22:33:44:55
!
router bgp {{ bgp.as }}
   no bgp default ipv4-unicast
   timers bgp 10 30
   distance bgp 20 200 200
   maximum-paths 8 ecmp 8
   neighbor LEAF peer-group
   neighbor LEAF remote-as {{ bgp.as }}
   neighbor LEAF update-source Loopback0
   neighbor LEAF send-community extended
{# Internal Leafs peer with border leafs only. Border leafs peer with internal leafs only. #}
{% if "internal_leafs" in group_names %}
{%  for host in groups['border_leafs'] if hostvars[host]['site'] == site %}
   neighbor {{ hostvars[host]['router_id'] }} peer-group LEAF
{%  endfor %}
{% elif "border_leafs" in group_names %}
   neighbor LEAF route-reflector-client
{%  for host in groups['internal_leafs'] if hostvars[host]['site'] == site %}
   neighbor {{ hostvars[host]['router_id'] }} peer-group LEAF
{%  endfor %}
{%  for host in groups['border_leafs'] if hostvars[host]['site'] != site %}
   neighbor {{ hostvars[host]['router_id'] }} peer-group LEAF
{%  endfor %}
{% endif %}
   !
   address-family evpn
      neighbor LEAF activate
!
router ospf 1
   max-lsa 12000
!
