!
vlan {{ mlag.vlan }}
   name MLAG
   trunk group MLAG
!
interface {{ mlag.interface }}
   switchport mode trunk
   switchport trunk group MLAG
!
interface Vlan{{ mlag.vlan }}
   no autostate
   ip ospf network point-to-point
   ip ospf area 0.0.0.0
{% if "A-" in inventory_hostname %}
   ip address {{ mlag.leaf_a_ipv4 }}
{% elif "B-" in inventory_hostname %}
   ip address {{ mlag.leaf_b_ipv4 }}
{% endif %}
!
mlag configuration
   domain-id MLAG
   local-interface Vlan{{ mlag.vlan }}
{% if "A-" in inventory_hostname %}
   peer-address {{ mlag.leaf_b_ipv4 | ipv4('address') }}
{% elif "B-" in inventory_hostname %}
   peer-address {{ mlag.leaf_a_ipv4 | ipv4('address') }}
{% endif %}
   peer-link {{ mlag.interface }}
!
