{% for vlan, values in vlans.items() %}
vlan {{ vlan }}
{% for trunk_group in values.trunk_groups %}
   trunk group {{ trunk_group }}
{% endfor %}
!
{% if values.ipv4_virtual and values.vrf %}
interface Vlan{{ vlan }}
   vrf forwarding {{ values.vrf }}
   ip address virtual {{ values.ipv4_virtual }}
{% endif %}
!
interface Vxlan1
   vxlan vlan {{ vlan }} vni {{ vlan }}
!
router bgp {{ bgp.as }}
   vlan {{ vlan }}
      rd {{ bgp.as }}:{{ vlan }}
      route-target both {{ bgp.as }}:{{ vlan }}
      redistribute learned
!
{% endfor %}
