vlan internal allocation policy ascending range 4000 4090
logging console informational
logging synchronous level all
!
hostname {{ inventory_hostname }}
!
spanning-tree mode mstp
!
no aaa root
!
{% for interface, values in interfaces.items() %}
interface {{ interface }}
   no switchport
   ip address {{ values.ipv4 }}
   ip ospf network point-to-point
   ip ospf area 0.0.0.0
{% endfor %}
!
interface Loopback0
   ip address {{ router_id }}/32
   ip ospf area 0.0.0.0
!
interface Management1
   ip address dhcp
   no lldp receive
!
ip routing
!
router ospf 1
   max-lsa 12000
!